.book {
    &-content {
        padding: 24px;

        &_title {
            margin: 0 40px 24px 0;
            font-size: 20px;
        }

        &_image {
            text-align: center;
            margin: 24px 0;

            & img {
                width: auto;
                height: 300px;
            }
        }

        &_info {

            &-row {
                display: flex;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-spacer {
                    flex: 1 1 auto;
                    border-bottom: 1px dashed #ccc;
                    margin: 0 12px;
                }
            }

            &-name {

            }

            &-description {

            }
        }
    }

    &-hide {
        position: absolute;
        right: 12px;
        top: 12px;

        &_button {

        }
    }
}
