<mat-toolbar color="primary" class="toolbar mat-elevation-z6">
    <mat-toolbar-row>
        <div class="toolbar-item">
            <button mat-icon-button
                    (click)="onClickTitle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        
        <div class="toolbar-item">
            <a class="toolbar-link" routerLink="/">Библиотека книг</a>
        </div>
        
        <div class="spacer"></div>
        
        <div class="toolbar-item">
            <button mat-icon-button>
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
