<div class="book-hide">
    <button class="book-hide_button"
            mat-icon-button
            (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<ng-container [ngSwitch]="mode">
    <bk-book-view *ngSwitchCase="BookMode.View"
                  (edit)="onEdit()"></bk-book-view>
    
    <bk-book-edit *ngSwitchCase="BookMode.Edit"
                  (cancel)="onCancel()"></bk-book-edit>
    
    <bk-book-edit *ngSwitchCase="BookMode.Create"
                  (cancel)="onCancel()"></bk-book-edit>
</ng-container>


