<h3 class="form-title">
    {{mode === BookMode.Edit ? "Редактирование" : "Создание"}} книги
</h3>

<form [formGroup]="form">
    <div class="form-group">
        <div class="form-control">
            <mat-form-field>
                <mat-label>Название книги</mat-label>
                <input matInput
                       placeholder="Например: Преступление и наказание"
                       formControlName="title"
                       required>
                <mat-error *ngIf="form.get('title').hasError('required')">
                    Поле является обязательным
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="form-group" *ngIf="form.get('image').value">
        <div class="form-control">
            <div class="form-image">
                <div class="form-image_preview">
                    <img [src]="form.get('image').value" alt="Превью обложки">
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-control">
            <div class="form-upload">
                <input class="form-upload_input"
                       type="file"
                       #imageInput>
                
                <div class="form-upload_container">
                    <mat-icon>cloud_download</mat-icon>
                    <div class="form-upload_text">
                        Кликните для выбора файла или перетащите файл в это поле
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="form-group form-group--authors" formArrayName="authors">
        <mat-divider></mat-divider>
        <p class="form-group_title">Авторы:</p>
        <div class="form-row"
             *ngFor="let authorCtrl of getAuthorsArray();let index = index"
             [formGroupName]="index">
            <div class="form-control">
                <mat-form-field>
                    <mat-label>Имя автора</mat-label>
                    <input matInput
                           placeholder="Например: Иван"
                           formControlName="name"
                           required>
                    <mat-error *ngIf="authorCtrl.get('name').hasError('required')">
                        Поле является обязательным
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="form-control">
                <mat-form-field>
                    <mat-label>Фамилия автора</mat-label>
                    <input matInput
                           placeholder="Например: Петров"
                           formControlName="lastname"
                           required>
                    <mat-error *ngIf="authorCtrl.get('lastname').hasError('required')">
                        Поле является обязательным
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="form-row_delete">
                <button mat-icon-button (click)="onDeleteAuthor(index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        
        <div class="form-group_actions">
            <button mat-raised-button (click)="onAddAuthor()">
                <mat-icon>playlist_add</mat-icon>
                Добавить автора
            </button>
        </div>
        <mat-divider></mat-divider>
    </div>
    
    <div class="form-group">
        <div class="form-control">
            <mat-form-field>
                <mat-label>Кол-во страниц</mat-label>
                <input matInput
                       placeholder="Например: 357"
                       formControlName="pages"
                       type="number"
                       required>
                <mat-error *ngIf="form.get('pages').hasError('required')">
                    Поле является обязательным
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-control">
            <mat-form-field>
                <mat-label>Издательство</mat-label>
                <input matInput
                       placeholder="Например: Издательсво Питер"
                       formControlName="publisher"
                       required>
                <mat-error *ngIf="form.get('publisher').hasError('required')">
                    Поле является обязательным
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-control">
            <mat-form-field>
                <mat-label>Год публикацмм</mat-label>
                <input matInput
                       placeholder="Например: 1998"
                       formControlName="publicationYear"
                       required>
                <mat-error *ngIf="form.get('publicationYear').hasError('required')">
                    Поле является обязательным
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-control">
            <mat-form-field>
                <mat-label>Дата выхода в тираж</mat-label>
                <input matInput
                       formControlName="releaseDate"
                       [matDatepicker]="picker"
                       placeholder="Выберите дату">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('releaseDate').hasError('required')">
                    Поле является обязательным
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-control">
            <mat-form-field>
                <mat-label>ISBN</mat-label>
                <input matInput
                       placeholder="Например: 111-222-333"
                       formControlName="isbn"
                       required>
                <mat-error *ngIf="form.get('isbn').hasError('required')">
                    Поле является обязательным
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="form-actions">
        <div class="spacer"></div>
        
        <button mat-button
                color="warn"
                (click)="onCancel()">
            Отмена
        </button>
        
        <button mat-raised-button
                color="primary"
                [disabled]="!form.valid"
                (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            {{mode === BookMode.Edit ? "Обновить" : "Сохранить"}}
        </button>
    </div>
</form>
