.form {

    &-title {
        margin-bottom: 24px;
    }

    &-group {

    }

    &-control {

        mat-form-field {
            width: 100%;
        }
    }

    &-actions {
        display: flex;
    }
}


