@import "../../../../../../theme";
@import "../../../../../../variables";

.form {

    &-title {
        margin-bottom: 24px;
    }

    &-group {

    }

    &-control {

        mat-form-field {
            width: 100%;
        }
    }

    &-actions {
        display: flex;
    }

    &-upload {
        position: relative;

        &_container {
            display: flex;
            border: 3px dashed #ccc;
            padding: 36px;
            align-items: center;
            justify-content: center;
            margin: 24px 0;
            cursor: pointer;
            transition: $transition-primary;
        }

        &_text {
            white-space: normal;
            padding-left: 12px;
        }

        &_input {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;

            &:hover  {

                & + .form-upload_container {
                    border-color: mat-color($books-warn);
                }
            }
        }
    }

    &-image {

        &_preview {
            text-align: center;
            margin: 24px 0;

            & img {
                width: auto;
                height: 300px;
            }
        }
    }
}


