<div class="page-head">
    <h1 class="page-header">Список книг</h1>
    
    <div class="page-actions">
        <button mat-raised-button
                color="primary"
                (click)="onCreateBook()">
            <mat-icon>playlist_add</mat-icon>
            Добавить книгу
        </button>
    </div>
</div>

<div class="books">
    <div class="books-left"
         [@bookListState]="getListCollpasedState()">
        <div class="books-list mat-elevation-z6">
            <div class="books-list_head">
                <div class="books-list_row">
                    <div class="books-list_col books-list_col--title" (click)="changeSort('title')">
                        <span class="books-list_col-text">Название</span>
                        <bk-sort-indicator *ngIf="getSort().field === 'title'"
                                           [direction]="getSort().direction"></bk-sort-indicator>
                    </div>
                    <div class="books-list_col">
                        <span class="books-list_col-text">Авторы</span>
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">
                        <span class="books-list_col-text">Стр.</span>
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">
                        <span class="books-list_col-text">Издатель</span>
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col books-list_col--pub-year animation-col-collapse"
                         (click)="changeSort('publicationYear')">
                        <span class="books-list_col-text">Год публ.</span>
                        <bk-sort-indicator *ngIf="getSort().field === 'publicationYear'"
                                           [direction]="getSort().direction"></bk-sort-indicator>
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">
                        <span class="books-list_col-text">Дата выхода</span>
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">
                        <span class="books-list_col-text">ISBN</span>
                    </div>
                </div>
            </div>
            
            <div class="books-list_body">
                <div class="books-list_row"
                     *ngFor="let book of books"
                     (click)="onClickRow(book)"
                     mat-ripple>
                    <div class="books-list_col books-list_col--title">{{book.title}}</div>
                    <div class="books-list_col books-list_col--authors">
                        <span class="books-list_col_author" *ngFor="let author of book.authors">
                        {{author.name}} {{author.lastname}}
                    </span>
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">
                        {{book.pages}}
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">
                        {{book.publisher}}
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col books-list_col--pub-year animation-col-collapse">
                        {{book.publicationYear}}
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">
                        {{book.releaseDate | date:"dd/MM/yyyy"}}
                    </div>
                    <div *ngIf="bookHidden()" class="books-list_col animation-col-collapse">{{book.isbn}}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="books-right"
         *ngIf="!bookHidden()"
         [@bookState]="getCardCollapsedState()">
        <div class="books-view mat-elevation-z6">
            <bk-book (close)="onHideBook()"></bk-book>
        </div>
    </div>
</div>




