.book {
    &-content {

        &_title {
            margin: 0 40px 24px 0;
            font-size: 20px;
        }

        &_image {
            text-align: center;
            margin: 24px 0;

            & img {
                width: auto;
                height: 300px;
            }
        }

        &_info {
            margin: 24px 0;

            &-row {
                display: flex;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-spacer {
                    flex: 1 1 auto;
                    border-bottom: 1px dashed #ccc;
                    margin: 0 12px;
                }
            }

            &-name {

            }

            &-description {

            }
        }
    }

    &-actions {
        display: flex;

        &_item {
            margin: 0 6px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
