<div class="book-content">
    
    <div class="book-content_title">
        {{book.title}}
    </div>
    
    <div class="book-content_image">
        <img [src]="book.image" alt="Обложка книги">
    </div>
    
    <div class="book-content_info">
        <div class="book-content_info-row">
            <div class="book-info_name">
                Авторы
            </div>
            
            <span class="book-content_info-row-spacer"></span>
            
            <div class="book-content_info-description"
            [title]="getHumanReadableAuthors()">
                    {{getHumanReadableAuthors()}}
            </div>
        </div>
        
        <div class="book-content_info-row">
            <div class="book-content_info-name">
                Кол-во страниц
            </div>
            
            <span class="book-content_info-row-spacer"></span>
            
            <div class="book-content_info-description">
                <span>{{book.pages}}</span>
            </div>
        </div>
        
        <div class="book-content_info-row">
            <div class="book-content_info-name">
                Издательство
            </div>
            
            <span class="book-content_info-row-spacer"></span>
            
            <div class="book-content_info-description">
                <span>{{book.publisher}}</span>
            </div>
        </div>
        
        <div class="book-content_info-row">
            <div class="book-content_info-name">
                Год публикации
            </div>
            
            <span class="book-content_info-row-spacer"></span>
            
            <div class="book-content_info-description">
                <span>{{book.publicationYear}}</span>
            </div>
        </div>
        
        <div class="book-content_info-row">
            <div class="book-content_info-name">
                Дата выхода
            </div>
            
            <span class="book-content_info-row-spacer"></span>
            
            <div class="book-content_info-description">
                <span>{{book.releaseDate | date: "dd.MM.yy"}}</span>
            </div>
        </div>
        
        <div class="book-content_info-row">
            <div class="book-content_info-name">
                ISBN
            </div>
            
            <span class="book-content_info-row-spacer"></span>
            
            <div class="book-content_info-description">
                <span>{{book.isbn}}</span>
            </div>
        </div>
    </div>
    
    <div class="book-actions">
        <div class="spacer"></div>
        <button class="book-actions_item"
                mat-button
                color="warn">
            <mat-icon>delete</mat-icon>
            Удалить
        </button>
        <button class="book-actions_item"
                mat-raised-button
                color="primary">
            <mat-icon>edit</mat-icon>
            Редактировать
        </button>
    </div>
</div>
