@import "variables";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #f8f8f8;
    overflow: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: $font-family;
}

.spacer {
    flex: 1 0 auto;
}



.page {

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &-header {
        font-size: 26px;
        font-weight: 300;
    }
}
